body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.admin-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
}

.form-section, .questions-section, .faq-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 30%;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
    
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-cancel {
    background-color: #f44336;
}

.btn:hover {
    background-color: #45a049;
}

.btn-cancel:hover {
    background-color: #e53935;
}

.btn-table {
    background-color: #4d3cc1;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.btn-cancel-table {
    background-color: #f44336;
}

.btn-table:hover, .btn-cancel-table:hover {
    opacity: 0.9;
}

.alert {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert.success {
    background-color: #dff0d8;
}

.alert--content {
    font-size: 16px;
}
