.form-container {
    max-width: 800px;
    margin: 50px auto; /* Centering the form horizontally and adding vertical margin */
    padding: 20px; /* Add some padding */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-top: 20px;
    text-align: center;
    color: #0606a4;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0606a4;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical; 
}

button.btn {
    background: #900909;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button.btn:hover {
    background: #610606; /* Darker red on hover */
}

.drag-drop-container {
    border: 2px dashed #0606a4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.drag-drop-container input[type="file"] {
    display: none; 
}

.drag-drop-container .browse-btn {
    background: #0606a4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.drag-drop-container .browse-btn:hover {
    background: #900909;
}

.drag-drop-container .upload-icon {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 10px; 
}

.drag-drop-container:hover {
    background-color: #f9f9f9; /* Light gray background on hover */
}

.drag-drop-container p {
    font-size: 18px;
    color: #0606a4;
}

.file-name {
    margin-top: 10px;
    font-size: 16px;
    color: #0606a4;
}

@media (max-width: 768px) {
    .form-container {
        max-width: 90%; /* Make it more responsive for smaller screens */
        padding: 15px;
    }

    .drag-drop-container {
        padding: 10px;
    }
}
